body {
    color: white;
    background-color: darkblue;
    }
    .resultado {
    color: yellow;
    background-color: darkred;
    font-size: 15px;
    }
    .titulo{
        margin: auto;
        text-align: center;
        font-size: 50px;
    }
    .texto
    {
        text-align: left;
    }
    .tabla{
        font-size: 20px;
        width: 30%;
        border: 10px;
    }